:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 234 69% 81%;
    --clr-white: 0 0% 100%;
    --clr-warning: 4 99% 71%;
    --clr-disable: 0 0% 20%;
    --clr-border-data: 0 0% 20%;
    
    /* font-sizes */
    --fs-800: 3rem;
    --fs-700: 2.25rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem; /*16px*/
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Roboto", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 3rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 3rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-warning { background-color: hsl( var(--clr-warning) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}
.text-warning { color: hsl( var(--clr-warning) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

h1 {
    font-size: var(--fs-800);
    font-family: var(--ff-serif);
}

h3 {
    font-size: var(--fs-600);
    font-family: var(--ff-serif);
}

h5 {
    font-size: var(--fs-500);
    font-family: var(--ff-sans-cond);
    
}


label{
    font-size: var(--fs-400);
    font-family: var(--ff-sans-cond);
    color: hsl( var(--clr-white) );
    letter-spacing: 4.725px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


input {
    padding: 5px 15px;
    font-size: var(--fs-400);
    font-family: var(--ff-sans-cond);
    background-color: hsl( var(--clr-dark) );
    border: 2px solid hsl( var(--clr-white) );
    color: hsl( var(--clr-white) );
    border-radius: 10px;
}
textarea:focus, input:focus{
    outline: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    
}
.form-group label{
    font-size: var(--fs-400);
    font-family: var(--ff-sans-cond);
    color: hsl( var(--clr-light) );
    letter-spacing: 0px;
}

.btn {
    font-size: var(--fs-400);
    font-family: var(--ff-sans-cond);
    color: hsl( var(--clr-dark) );
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    border:none;
    text-decoration: none;
}

.btn-primary {
    background: hsl( var(--clr-light));
}

.btn-warning {
    background: hsl( var(--clr-warning));
    color: hsl( var(--clr-white));
}

.btn-disabled {
    background: hsl( var(--clr-disable));
    color: hsl( var(--clr-dark));
}
  
  #app {
    height: 100vh;
    
    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      'header'
      'main'
      'footer';
  }
  
  #app > header {
    grid-area: header;
  }
  
  #app > main {
    grid-area: main;
    padding: 20px 50px 10px 50px;
  }
  
  #app > footer {
    grid-area: footer;
  }

  main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:20px  50px;
  }

  .social img {
      width: 30px;
  }

  .info {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  }

  .buttons button {
      margin: 10px 0px;
  }
  .message {
      border-radius: 50px;
      border: 2px solid hsl( var(--clr-light) );
      padding:20px;
  }

  .data {
      width: 100%;
  }

  .modal-confirmation {
    border: 2px solid hsl( var(--clr-light) );
    padding: 10px;
    border-radius: 10px;
    margin: 5px 20px;
  }
  .modal-confirmation .confirm {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 50px;
  }

  .w-50{
    width: 50%;
  }

  .w-100{
    width: 100%;
  }
  table {
    border-collapse: collapse;
    font-size: var(--fs-400);
    font-family: var(--ff-sans-cond);
  }
  table th {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    
  }
  table td {
    border: 1px solid hsl( var(--clr-border-data));
    padding: 3px;
  }

  .text-right {
      text-align: right;
  }